{% extends 'base.html' %}

{% block title %}
Edit Profile
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
    <h1>Edit Profile</h1>
    
    <div class="form-group">
    <table>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
      
        {{ form.as_p }}
    </table>
        <button class="btn btn-secondary">Update Profile</button>
    </form>
    </div>

{% else %}
<h3>You are not allowed here</h3>

{% endif %}

{% endif %}
{% endblock %}
