{% extends 'base.html' %}

{% block title %}
Ml Blogs
{% endblock %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


    <div class="container">
        {% for post in object_list %}
        <div class="card">
          <div class="card__header">
            <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">{{ post.category }}</span>
            <h4><a href="{% url 'articles' post.pk %}">{{ post.title }}</a></h4>
            <p>{{ post.body|slice:":200"|safe }}</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                <small>{{ post.publication_date }}</small>
                {% if user.is_authenticated %}
                <a href="{% url 'updatepost' post.pk %}">Edit</a>
                - <a href="{% url 'deletepost' post.pk %}">delete</a>
                {% endif %}
            </div>
            </div>
          </div>
        </div>
        {% endfor %}

{% endblock %}
